.panel a#login_pop, .panel a#notif {
    /* border: 2px solid #aaa; */
    width: 434px;
    color: #fff;
    display: block;
    /* float: right; */
    margin-right: 10px;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 1px 1px #000;
    z-index: 99999999999;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
a#login_pop:hover, a#notif:hover {
    border-color: #eee;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 9999999999;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    background-color: #fff;
    width: 462px;
    /* border: 3px solid #fff; */
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 99999999999;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    /* -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset; */

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.overlay:target+.popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}
.close {
    /* background-color: rgba(0, 0, 0, 0.8); */
    height: 15px;
    line-height: 15px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 20px;
    right: 15px;
    width: 15px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}
.close:before {
    color: rgba(0, 0, 0, 0.9);
    content: "X";
    font-size: 18px;
    /* text-shadow: 0 -1px rgba(0, 0, 0, 0.9); */
}

.popup .conttt{
    margin: auto;
}
.conttt img{
    margin-left: 120px;
}
.conttt h1{
    margin-top: 30px;
    margin-left: 100px;
    font-size: 30px;
    font-weight: bold;
}
.conttt p{
    font-size: 15px;
    margin-left: 102px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.contttt h1{
    margin-top: 30px;
    margin-left: 100px;
    font-size: 30px;
    font-weight: bold;
}
.contttt p{
    font-size: 15px;
    margin-left: 102px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.popuup .contttt{
    margin: auto;
    overflow: auto;
}