html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* style */

*hr {
    height: 0.5px;
    color: #E1E1E1;
    border: 0 none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*navbar 1 */

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    overflow-x: hidden;
}

.nav {
    font: 12px/5px arial;
    width: 1280px;
    height: 50px;
    margin: auto;
    background-color: #1A2B48;
}

.bar {
    margin-left: 40px;
}

.bar img {
    margin-top: 13px;
    padding-right: 10px;
    width: 24px;
    height: 24px;
    line-height: 50px;
    float: left;
}

.bar p {
    font: 12px/5px arial;
    margin-left: 10px;
    color: white;
    line-height: 50px;
    float: left;
}

.bar a {
    text-decoration: none;
    color: white;
    float: left;
    line-height: 50px;
}

.bar a:hover {
    text-decoration: underline;
}

.line img {
    margin-top: 8px;
    float: left;
    width: 2px;
    height: 30px;
    margin-left: 25px;
}

.bar .line2 img {
    margin-top: 8px;
    float: left;
    width: 1.5px;
    height: 30px;
    margin-left: 25px;
}

.bar2 p {
    margin-right: 20px;
    color: white;
    line-height: 50px;
    float: right;
}

.bar2 .line3 img {
    margin-top: 8px;
    float: right;
    width: 1.5px;
    height: 30px;
    margin-right: 20px;
}

.bar2 .line4 img {
    margin-top: 8px;
    float: right;
    width: 1.5px;
    height: 30px;
    margin-right: 20px;
}

.bar2 .line5 img {
    margin-top: 8px;
    float: right;
    width: 1.5px;
    height: 30px;
    margin-right: 60px;
}

.bar2 a {
    text-decoration: none;
    color: white;
    float: right;
    line-height: 50px;
    padding-right: 5px;
}

.bar2 a:hover {
    text-decoration: underline;
}

.bar2 select {
    /*    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
    padding: none;
    border: none;
    background: #1A2B48;
    font-size: 12px;
    color: #ffffff;
}


/*navbar 2*/

.navbar {
    font: 15px/5px arial;
    width: 1280px;
    height: 120px;
    margin: auto;
    background-color: white;
}

.navbar .app h3 {
    line-height: 120px;
    font-size: 40px;
    color: #CC0033;
    float: left;
    padding-left: 65px;
    padding-right: 60px;
    font-weight: bold;
}

.menu ul li {
    text-decoration: none;
}

.bar3 .menu .menu_item {
    display: inline-block;
    ;
    margin-right: 45px;
    position: relative;
    margin-top: 60px;
}

.menu_item a {
    text-decoration: none;
    color: #000000;
    float: left;
    font-weight: bold;
}

.bar3 .menu .menu_item a:hover {
    color: #5191FA;
}

.submenu {
    text-align: center;
    text-decoration: none;
    display: none;
    position: absolute;
    width: 220px;
    height: 200px;
    background-color: white;
    z-index: 9999;
    top: 15px;
}

.menu_item:hover .submenu {
    /*    color: #5191FA;*/
    display: block;
}

.submenu-item {
    margin-top: 55px;
    background-color: white;
}

.submenu-item ul li a {
    border-bottom: 3px solid #BEBEBE;
}

.submenu.submenu-item ul li {
    border-top: 5px solid #BEBEBE;
    border-bottom: 5px solid #BEBEBE;
}

.submenu .submenu-item a {
    text-decoration: none;
    display: block;
}

.submenu-item:hover {
    /*color: #5191FA; background-color: white;*/
    background-color: white;
}


/*.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: skyblue;
    min-width: 200px;
}
.dropdown-child a {
    color: blue;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}*/

.bar4 {
    float: right;
    line-height: 40px;
    margin-top: -23px;
    margin-right: 40px;
}


/*.bar4 img{
    margin-right: 40px;
}*/

.signup {
    width: 98px;
    height: 35px;
    border-radius: 6px;
    background-color: #FA5636;
    float: right;
    margin-left: 45px;
    margin-right: 45px;
}

.signup p {
    line-height: 35px;
    margin-left: 20px;
}

.signup a {
    text-decoration: none;
    color: white;
}

.signup a:hover {
    text-decoration: underline;
}

.tag {
    border-bottom: 1px solid #C5C5C5;
    margin: auto;
    width: 1280px;
}

.judat {
    margin: auto;
    width: 1280px;
    height: 18px;
    margin: auto;
    margin-top: 30px;
}

.judat h1 {
    margin-left: 80px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    float: left;
}

.judat1 h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #6A6A6A;
    margin-left: 40px;
}

.judatgar {
    position: absolute;
    width: 10px;
    height: 0px;
    border-bottom: 3px solid #C9C9C9;
    margin-top: 7px;
    margin-left: 200px;
}


/*hero*/

.hero {
    background-image: url(../../img/ritus.png);
    width: 1400px;
    height: 747px;
    margin: auto;
    position: relative;
    margin-top: 30px;
}

.jud {
    color: white;
}

.jud h1 {
    position: absolute;
    font: 60px/10px arial;
    top: 350px;
    left: 160px;
}

.jud h4 {
    position: absolute;
    font: 25px/10px arial;
    top: 400px;
    left: 170px;
    color: white;
}


/*kontenbar1*/

.kontenbar1 {
    padding: 5px;
    width: 1136px;
    height: 350px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: #F2F2F2;
}

.kontenbar1 img {
    margin-top: 15px;
    float: left;
    -webkit-transition: 0.4s ease;
    transition: 0.4s;
}

.kontenbar1 img:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.kontenbar1 h1 {
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 625px;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
    float: left;
}

.boxtul {
    position: absolute;
    width: 489px;
    height: 138px;
    margin-left: 630px;
    margin-top: 100px;
    float: left;
}

.boxtul p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: justify;
    color: #000000;
}


/*kontenbar2*/

.kontenbar2 {
    width: 1145px;
    height: 937px;
    margin: auto;
    margin-top: -35px;
    overflow: auto;
}

.kot1 {
    position: absolute;
    width: 573px;
    height: 339px;
    float: left;
}

.kot1 img:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.4s ease;
    transition: 0.4s;
}

.kot2 {
    position: absolute;
    width: 566px;
    height: 339px;
    margin-left: 580px;
    float: left;
}

.kot2 img:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.4s ease;
    transition: 0.4s;
}

.kot3 {
    position: absolute;
    width: 678px;
    height: 580px;
    margin-top: 350px;
    float: left;
}

.kot3 img:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.4s ease;
    transition: 0.4s;
}

.kot4 img:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.4s ease;
    transition: 0.4s;
}

.kot4 {
    position: absolute;
    width: 437px;
    height: 580px;
    margin-top: 350px;
    margin-left: 705px;
    float: left;
}

.maskot {
    position: absolute;
    width: 322px;
    height: 357px;
    margin-top: 700px;
    margin-left: 40px;
    float: left;
}

.maskot img {
    margin-top: -150px;
    margin-left: -280px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    float: left;
}


/*kontenbar3*/

.kontenbar3 {
    width: 1145px;
    height: 572px;
    margin: auto;
    margin-top: 10px;
    overflow: hidden;
}

.box1 {
    width: 1145px;
    height: 572px;
    background: #EFEFEF;
    float: left;
}

.box1j {
    position: absolute;
    width: 215px;
    height: 70px;
    margin-left: 80px;
    margin-top: 20px;
    float: left;
}

.box1isi {
    position: absolute;
    width: 260px;
    height: 120px;
    margin-left: 80px;
    margin-top: 100px;
    float: left;
}

.boxgbrbm {
    position: absolute;
    width: 274px;
    height: 310px;
    margin-left: 80px;
    margin-top: 220px;
    float: left;
}

.boxgbrbm img:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.4s ease;
    transition: 0.4s;
}

.boxgbrbm2 {
    position: absolute;
    width: 340px;
    height: 512px;
    margin-left: 380px;
    margin-top: 20px;
    float: left;
}

.boxgbrbm2 img:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.4s ease;
    transition: 0.4s;
}

.boxgbrbm3 {
    position: absolute;
    width: 330px;
    height: 310px;
    margin-left: 750px;
    margin-top: 20px;
    float: left;
}

.boxgbrbm3 img:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.4s ease;
    transition: 0.4s;
}

.boxisi2 {
    position: absolute;
    width: 330px;
    height: 184px;
    margin-left: 750px;
    margin-top: 350px;
    float: left;
}

.boxisi2 p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: justify;
    color: #000000;
}

.box1j h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}

.box1isi p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21.5px;
    line-height: 23px;
    text-align: justify;
    color: #000000;
}


/*kontenbar4*/

.kontenbar4 {
    width: 1145px;
    height: 780px;
    margin: auto;
    margin-top: 15px;
    overflow: hidden;
}

.boxak1 {
    position: absolute;
    width: 662px;
    height: 387px;
    float: left;
}

.boxak1 img:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.4s ease;
    transition: 0.4s;
}

.boxak2 {
    position: absolute;
    width: 510px;
    height: 360px;
    margin-top: 415px;
    float: left;
}

.boxak2 img:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.4s ease;
    transition: 0.4s;
}

.boxak3 {
    position: absolute;
    width: 297px;
    height: 360px;
    margin-top: 415px;
    margin-left: 527px;
    float: left;
}

.boxak3 img:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.4s ease;
    transition: 0.4s;
}

.boxak4 {
    position: absolute;
    width: 297px;
    height: 360px;
    margin-top: 415px;
    margin-left: 840px;
    float: left;
}

.boxak4 img:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.4s ease;
    transition: 0.4s;
}

.boxakisi {
    position: absolute;
    width: 454px;
    height: 340px;
    margin-left: 685px;
    margin-top: 45px;
    float: left;
}

.boxakisi h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    color: #000000
}

.boxakisi p {
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21.3px;
    line-height: 23px;
    text-align: justify;
    color: #000000;
}

.boxtl {
    position: absolute;
    width: 450px;
    height: 26px;
    margin-left: 350px;
    margin-top: 900px;
}

.boxtl h1 {
    margin-left: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}


/*konten baris 5*/

.kontenbar5 {
    width: 1145px;
    height: 412px;
    margin: auto;
    margin-top: 200px;
    overflow: hidden;
}

.garis {
    position: absolute;
    width: 1168.01px;
    height: 0px;
    border-bottom: 1px solid #C4C4C4;
    margin-top: 850px;
    margin-left: -15px;
    float: left;
}

.paket1 {
    position: absolute;
    background-color: white;
    width: 278px;
    height: 409px;
    border: 1px solid #BEBEBE;
    margin-left: -20px;
    border-radius: 6px;
    float: left;
}

.paket2 {
    position: absolute;
    background-color: white;
    width: 278px;
    height: 409px;
    border: 1px solid #BEBEBE;
    border-radius: 6px;
    margin-left: 280px;
    float: left;
}

.paket3 {
    position: absolute;
    background-color: white;
    width: 278px;
    height: 409px;
    border: 1px solid #BEBEBE;
    border-radius: 6px;
    margin-left: 580px;
    float: left;
}

.paket4 {
    position: absolute;
    background-color: white;
    width: 278px;
    height: 409px;
    border: 1px solid #BEBEBE;
    border-radius: 6px;
    margin-left: 880px;
    float: left;
}

.ww:hover {
    -webkit-transition: 0.4s ease;
    transition: 0.4s;
    transform: scale(1.04);
}

.ww img {
    position: absolute;
    margin-top: 0px;
}

.ww:hover {
    -webkit-transition: 0.4s ease;
    transition: 0.4s;
    transform: scale(1.04);
}

.boxrec {
    position: absolute;
    margin-top: 20px;
    width: 95px;
    height: 34px;
    background-color: #19A1E5;
    border-radius: 0px 3px 3px 0px;
    float: left;
}

.boxrec h1 {
    margin-top: 5px;
    padding: 2.5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.boxloc {
    position: absolute;
    width: 240px;
    height: 14px;
    margin-top: 230px;
    margin-left: 25px;
    float: left;
}

.boxlike {
    margin-left: 225px;
    margin-top: 20px;
    position: absolute;
    width: 30px;
    height: 30px;
    float: left;
}

.boxloc img {
    position: absolute;
    margin-top: -1px;
    float: left;
}

.boxloc h1 {
    position: absolute;
    margin-top: 2px;
    margin-left: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 12px;
    color: #848484;
    float: left;
}

.boxwandiu {
    position: absolute;
    width: 250px;
    height: 26px;
    margin-top: 260px;
    margin-left: 25px;
    float: left;
}

.boxwandiu h1 {
    margin-left: -2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
}
.boxwandiu a{
    text-decoration: none;
}
.boxbin {
    position: absolute;
    width: 134px;
    height: 12px;
    margin-left: 25px;
    margin-top: 295px;
    float: left;
}

.boxbin p {
    position: absolute;
    margin-top: -15px;
    margin-left: 80px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: rgba(60, 60, 60, 0.75);
    float: left;
}

.boxjdw {
    position: absolute;
    width: 187px;
    height: 14px;
    margin-left: 25px;
    margin-top: 318px;
    float: left;
}

.boxjdw img {
    float: left;
}

.boxjdw h1 {
    margin-left: 5px;
    margin-top: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #949494;
    float: left;
}

.boxhari {
    position: absolute;
    width: 78px;
    height: 17px;
    margin-left: 25px;
    margin-top: 370px;
    float: left;
}

.boxhari img {
    margin-left: -3px;
    margin-top: -1.05px;
    float: left;
}

.hari h1 {
    font-family: Roboto;
    margin-top: -14px;
    margin-left: 17px;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 9px;
    color: rgba(60, 60, 60, 0.75);
    float: left;
}

.boxmuldar {
    position: absolute;
    width: 49px;
    height: 17px;
    margin-left: 110px;
    margin-top: 367px;
    float: left;
}

.boxmuldar img {
    float: left;
}

.boxmuldar h1 {
    position: absolute;
    margin-top: 4px;
    margin-left: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 9px;
    color: rgba(60, 60, 60, 0.75);
    float: left;
}

.boxpr {
    position: absolute;
    width: 104px;
    height: 18px;
    margin-left: 165px;
    margin-top: 367px;
    float: left;
}

.boxpr h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}


/*Footer*/

.footer {
    position: absolute;
    width: 100%;
    margin-top: 100px;
    /*padding-top: 400px;*/
}

.subfooter {
    width: 1200px;
    margin: auto;
}

.subfooter .a {
    width: 250px;
    height: 350px;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
}

.ahead p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 30px;
}

.ahead hr {
    margin-left: 30px;
    margin-top: 10px;
}

.hub {
    margin-left: 30px;
    margin-top: 40px;
    border-left: 5px solid #5191FA;
    border-radius: 3px;
    height: 60px;
}

.hub p {
    color: #949494;
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: -10px;
    font-weight: bold;
}

.hub h1 {
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}

.email {
    margin-top: 60px;
    margin-left: 30px;
    border-left: 5px solid #5191FA;
    border-radius: 3px;
    height: 60px;
}

.email a {
    text-decoration: none;
    color: black;
}

.email a:hover {
    text-decoration: underline;
}

.email p {
    color: #949494;
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: -10px;
    font-weight: bold;
}

.email h1 {
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}

.ikuti {
    margin-left: 30px;
    margin-top: 60px;
    border-left: 5px solid #5191FA;
    border-radius: 3px;
    height: 60px;
}

.ikuti p {
    color: #949494;
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: -10px;
    font-weight: bold;
}

.ikuti img {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.ikuti a {
    text-decoration: none;
}

.subfooter .b {
    width: 250px;
    height: 350px;
    float: left;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 50px;
}

.ahead2 p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 40px;
}

.ahead2 hr {
    margin-left: 40px;
    margin-top: 10px;
}

.foot {
    margin-top: 30px;
    margin-left: 40px;
}

.foot a {
    text-decoration: none;
    color: black;
}

.foot a:hover {
    color: #5191FA;
}

.foot h1 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

.subfooter .c {
    width: 250px;
    height: 350px;
    float: left;
    margin-top: 30px;
    margin-right: 40px;
}

.foot2 {
    margin-left: 30px;
    margin-top: 30px;
}

.foot2 a {
    text-decoration: none;
    color: black;
}

.foot2 a:hover {
    color: #5191FA;
}

.foot2 h1 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

.subfooter .d {
    width: 250px;
    height: 350px;
    margin-top: 30px;
    float: left;
}

.hub2 {
    margin-left: 30px;
    margin-top: 50px;
}

.hub2 p {
    color: #949494;
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: -10px;
    font-weight: bold;
}

.hub2 select {
    /*    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
    margin-top: 10px;
    padding: none;
    width: 125px;
    height: 30px;
    border: none;
    background: black;
    font-size: 20px;
    color: #ffffff;
}


/*footer 2*/

.footer2 {
    position: absolute;
    margin-top: 550px;
    width: 100%;
    height: 40px;
}

.subfooter {
    margin: auto;
}

.copy p {
    position: absolute;
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 50px;
}

.copy a {
    text-decoration: none;
    color: #5191FA;
    margin-top: 10px;
    margin-left: 10px;
}

.sup p {
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin-left: 900px;
    margin-right: 20px;
    margin-top: 20px;
}

.sup img {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.kbkm img {
    width: 80px;
    margin-top: -10px;
    margin-left: -10px;
}